/*      HEADER      */

.header {
  padding: 33px 0 95px;
}

.nav__item a {
  color: #828282;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: 700;
}

.nav__link:hover {
  font-weight: 700;
  color: #070707;
  border-bottom: 2px solid black;
}

.nav:after {
  content: "";
  max-width: 940px;
  width: 100%;
  height: 1px;
  position: absolute;
  display: block;
  background: #828282;
  margin-top: 31px;
}

.main {
  align-items: center;
  color: #070707;
  margin-top: 71px;
}

.main__author {
  max-width: 150px;
  width: 100%;
}

.main__skills {
  max-width: 155px;
  width: 100%;
  font-weight: 400;
}

.main__lang {
  font-weight: 700;
  text-transform: uppercase;
  transform: rotate(-90deg);
  position: relative;
  left: 4.7%;
  font-size: 16px;
}

.main__lang a {
  text-decoration: none;
}
.textRU {
  color: #828282;
}

.check {
  position: relative;
  width: 30px;
  cursor: pointer;
}

.check:before {
  position: absolute;
  content: "";
  width: 25px;
  height: 15px;
  background: #333;
  border-radius: 25px;
}

.check:checked::before {
  background: #e0dd1b;
}

.check::after {
  content: "";
  position: absolute;
  left: 0px;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 25px;
  transition: 0.25s;
  border: 2px solid #333;
  box-sizing: border-box;
}

.check:checked::after {
  left: 12px;
  border: 2px solid #e0dd1b;
}

.check:checked ~ .text.textENG {
  display: none;
}

.check:checked ~ .text.textRU {
  display: block;
}

.textEN {
  color: #070707;
}

.main__img {
  margin-top: 30px;
  transition: ease-out 0.3s all;
}

.main__img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px;
}

/*      FIRST SECTION      */

.about {
  text-align: center;
  padding: 120px 0 107px;
  background: #f6f6f6;
}

.about__info {
  display: flex;
  flex-direction: column;
  row-gap: 42px;
  max-width: 485px;
  width: 100%;
  margin: 0 auto;
  font-weight: 500;
}
/*      SECOND SECTION      */

.skills {
  text-align: center;
  padding: 162px 0 48px;
}

.portfolio {
  margin-top: 69px;
  font-weight: 500;
}

.portfolio__works {
  align-items: center;
  margin-top: 83px;
}

.portfolio__item {
  display: flex;
  flex-direction: column;
}

.figma {
  max-width: 82px;
  width: 100%;
  transition: ease-out 0.3s all;
}

.figma:hover {
  transform: scale(1.1);
}

.portfolio__item span {
  margin-top: 23px;
  color: #828282;
  font-size: 14px;
}

.portfolio__img {
  transition: ease-out 0.3s all;
}

.portfolio__img:hover {
  transform: scale(1.1);
}

.porfolio__star {
  margin-top: 41px;
  text-align: center;
}

.fa-star {
  display: flex;
}

i {
  transition: ease-out 0.3s all;
}

i:hover {
  transform: scale(1.1);
}

.grey__star {
  color: #e5e5e5;
}

/*      THIRD SECTION      */

.collection {
  background: #f6f6f6;
  text-align: center;
  padding: 112px 0 96px;
}

.woman {
  margin-top: 47px;
}

.woman__img {
  transition: ease-out 0.3s all;
}

.woman__img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px;
}

.woman__link {
  margin: 0 auto;
  max-width: 275px;
  width: 100%;
  margin-top: 44px;
}

.reebok__link {
  max-width: 202px;
  width: 100%;
  margin: 0 auto;
}

.reebok__img {
  transition: ease-out 0.3s all;
}

.reebok__img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px;
}

.braun__link {
  max-width: 259px;
  width: 100%;
  margin: 0 auto;
}

.braun__img {
  transition: ease-out 0.3s all;
}

.braun__img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px;
}

/*      FOOTER      */

.footer {
  padding: 114px 0 123px;
  text-align: center;
}

.contacts__info {
  font-size: 18px;
  font-weight: 400;
  max-width: 275px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

.contacts__button {
  display: inline-block;
  margin-top: 42px;
  padding: 13px 30px 7px 28px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  background: #070707;
  border-radius: 33px;
  box-sizing: border-box;
  transition: ease-out 0.3s all;
}

.contacts__button:hover {
  color: black;
  background: #f6f6f6;
}

.icons {
  margin: 0 auto;
  max-width: 342px;
  width: 100%;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 45px;
}

.icons a {
  text-decoration: none;
  color: #070707;
  font-size: 40px;
}

.apps {
  color: #828282;
  font-size: 14px;
  max-width: 243px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  .main__img {
    width: 100%;
  }
  .woman__img {
    width: 100%;
  }

  .reebok__img {
    width: 100%;
  }

  .braun__img {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .nav:after {
    width: 90%;
  }
  .nav:after {
    width: 90%;
  }
  .main__img {
    width: 100%;
  }
  .woman__img {
    width: 100%;
  }

  .reebok__img {
    width: 100%;
  }

  .braun__img {
    width: 100%;
  }

  .portfolio__works {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}

@media screen and (max-width: 576px) {
  .nav__menu {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .nav:after {
    width: 90%;
  }

  .main__author {
    text-align: center;
  }

  .main__skills {
    text-align: center;
  }

  .main {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .main__lang {
    transform: rotate(0deg);
    left: 0;
  }

  .about__info {
    width: 80%;
  }

  .info__first {
    font-size: 17px;
  }

  .porfolio__star {
    font-size: 13px;
  }

  .woman__link {
    font-size: 15px;
  }
}
